ENV=staging

POSTGRES_DB=postventa
POSTGRES_USER=postventa
POSTGRES_PASSWORD=postventa
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postventa
TYPEORM_PASSWORD=postventa
TYPEORM_DATABASE=postventa
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/**/*.entity.ts

TYPEORM_MIGRATIONS=src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME=migrations
